.footer {
  @extend %section-padding;

  font-size: 12px;
  text-align: center;

  p:first-of-type {
    margin: 15px 0 5px 0;
    text-transform: uppercase;
  }

  a {
    transition: .33s ease opacity;

    &:hover {
      opacity: .9;
    }
  }
}
