.shirts-container {
  @include clearfix;
}

.shirt-item {
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  margin: 10px;
  float: left;
  transition: transform .6s ease;
  cursor: pointer;

  // scss-lint:disable DeclarationOrder
  &.is-active {
    transform: scale3d(2, 2, 1);
  }

  @include max($container) {
    display: block;
    margin: 20px auto;
    padding: 0 20px;
    float: none;
    cursor: auto;

    &.is-active {
      transform: scale3d(1.25, 1.25, 1);
    }
  }
}
