.shirts-container {
  @include clearfix;
}

.shirt-item {
  float: left;
  max-height: 300px;
  max-width: 300px;
  width: 100%;
  margin: 10px;
  cursor: pointer;

  @include max($container) {
    float: none;
    display: block;
    margin: 10px auto;
    padding: 0 10px;
  }
}
