@import "mixins";
@import "reset";

$container: 960px;
$font: "Mission Gothic";

$white: #fff;
$gray: #5f605c;

@include font-face($font, "mission_gothic_regular");

body {
  color: $gray;
  font-family: $font;

  &.is-active {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
}

// scss-lint:disable Indentation
@import

  "layout",
  "header",
  "overlay",
  "shirt-items",
  "footer";
