@import "mixins";
@import "reset";

$container: 960px;
$font: "Mission Gothic";

$white: #fff;
$gray: #5f605c;

@include font-face($font, "mission_gothic_regular");

body {
  color: $gray;
  font-family: $font;
}

@import
  "layout",
  "header",
  "overlay",
  "shirt-items",
  "footer";

hr {
  width: 35px;
  height: 1px;
  margin: 0 auto;
  background: $gray;
}


body.is-active {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
