@import "mixins";
@import "reset";

$container: 960px;

body {
  font-family: "Mission Gothic";
}

@import "layout";
@import "header";
@import "overlay";
@import "shirt-items";
@import "footer";


hr {
  width: 35px;
  height: 1px;
  margin: 0 auto;
  background: #5F605C;
}
